from pyflow import *
from pyflow.components import *
from pyflow.menu import get_menu_entries


@AppShell
@Push
@StyleSheet("styles/styles.css")
class MainLayout(AppLayout):
    def __init__(self):
        self.add_to_navbar(DrawerToggle(), H2("My App"))

        nav = SideNav()
        for entry in get_menu_entries():
            icon = Icon(entry.icon) if entry.icon else None
            nav.add_item(SideNavItem(entry.title, entry.path, icon))
        self.add_to_drawer(nav)
