from pyxflow import *
from pyxflow.components import *
from {{app_name}}.views.main_layout import MainLayout


@Route("hello", page_title="Hello World", layout=MainLayout)
@RouteAlias("")
@Menu(title="Hello", order=1, icon="vaadin:hand")
class HelloWorldView(VerticalLayout):
    def __init__(self):
        self.name = TextField("Your name")
        self.say_hello = Button("Say hello", lambda e:
            Notification.show(f"Hello {self.name.value}"))

        self.add(self.name, self.say_hello)
